/* Light Theme */
:root {
  --background-color: white;
  --text-color: black;
  --link-color: crimson;
}

body {
  font-family: sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  // nav ul {
  //   list-style-type: none;
  //   padding: 0px;

  //   li {
  //     display: inline;

  //     &:not(:first-child) {
  //       margin-left: 15px;
  //     }
  //   }
  // }

  a {
    color: var(--link-color);
    font-weight: 600;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
